@inject IAdminService AdminService

<div class="d-flex justify-content-center">
    <form class="d-flex justify-content-center mb-5 border border-1 border-secondary w-25 p-2">
        <EditForm Model="Model" OnValidSubmit="@OnFormSubmit">
            <DataAnnotationsValidator />
            <h4>@Page Director</h4>
            <div>
                @if (Page.Equals(PageType.Delete))
                {
                    <InputText id="title" class="form-control mb-1" @bind-Value="Model.Name" disabled placeholder="Title"></InputText>
                }
                else
                {
                    <InputText id="title" class="form-control mb-1" @bind-Value="Model.Name" placeholder="Title"></InputText>
                }
            </div>
            <ValidationMessage For="@(() => Model.Name)" />

            <div>
                <button type="submit" class="btn btn-@(Page.Equals(PageType.Delete)? "danger" : "primary") rounded-0 mb-1">@Page Director</button>
            </div>
        </EditForm>
    </form>
</div>
@code {
    [Parameter] public DirectorDTO Model { get; set; } = new();
    [Parameter] public string Page { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnChange { get; set; }
    List<FilmDTO> Films = new();

    private async Task OnFormSubmit()
    {
        try
        {
            if (Page == PageType.Create)
                await AdminService.CreateAsync<DirectorDTO>("directors", Model);

            else if (Page == PageType.Edit)
                await AdminService.EditAsync<DirectorDTO>($"directors/{Model.Id}", Model);

            else if (Page == PageType.Delete)
                await AdminService.DeleteAsync<DirectorDTO>($"directors/{Model.Id}");

            await OnChange.InvokeAsync("");
        }
        catch
        {
            await OnChange.InvokeAsync("Couldn't create/edit/delete the course.");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        Films = await AdminService.GetAsync<FilmDTO>($"films");
    }
}
