@inject IUserService userService
@page "/film/{Id:int}"

<h3 class="d-flex justify-content-center">Film</h3>
<a class="btn btn-danger mb-1" href="/">
    <i class="oi oi-arrow-left"></i><span class="oi-vertical-align"> Back to Dashboard</span>
</a>

<Marquee Model="Model" />

@code {
    [Parameter] public int? Id { get; set; }
    public FilmDTO Model { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Model = await userService.GetFilmAsync(Id);
    }
}
