<h3>FilmCard</h3>

    <div class="card" style="width: 18rem;">
      <img src="@film.ThumbnailURL" class="card-img-top" alt="thumbnail of film">
      <div class="card-body">
        <h5 class="card-title">@film.Title</h5>
        <p class="card-text">@film.Description</p>
        <a href="@film.FilmUrl" class="btn btn-primary">Watch trailer!</a>
      </div>
    </div>    


@code {
    [Parameter] public List<FilmDTO> Model { get; set; }

}
