@inject IUserService userService
@page "/"
@using VOD.User.UI.Pages;

<PageTitle>Njetflix: not really netflix</PageTitle>

<h1 class="d-flex justify-content-center">Njetflix</h1>

<div class="d-flex flex-column">
    @foreach(var genre in Genres)
    {
        <GenreTemplate Genre="@genre" Films="Films" />        
    }
</div>

@code{
    List<FilmDTO>? Films { get; set; } = new();
    List<GenreDTO>? Genres { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var unsortedGenres = await userService.GetGenresAsync();
        Genres = unsortedGenres.OrderBy(g => g.Name).ToList();
        Films = await userService.GetFilmsAsync();
    }
}


