@inject IUserService userService
@page "/"
@using VOD.User.UI.Pages;

<PageTitle>Dashboard</PageTitle>

<h1 class="d-flex justify-content-center">Dashboard</h1>

<div class="d-flex justify-content-between">
    @foreach(var film in Films)
    {
        <FilmCard Film="@film"/>        
    }
</div>

@code{
    List<FilmDTO> Films { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Films = await userService.GetFilmsAsync();
    }
}


