@inject IAdminService AdminService

<div class="d-flex justify-content-center">
    <form class="d-flex justify-content-center mb-5 border border-1 border-secondary w-25 p-2">
        <EditForm Model="Model" OnValidSubmit="@OnFormSubmit">
            <DataAnnotationsValidator />
            <h4>@Page FilmGenre</h4>
            <div>
                @if (Page.Equals(PageType.Delete))
                {
                    <InputNumber id="title" class="form-control mb-1" @bind-Value="Model.FilmId" disabled placeholder="FilmId"></InputNumber>
                    <InputNumber id="title" class="form-control mb-1" @bind-Value="Model.GenreId" disabled placeholder="GenreId"></InputNumber>
                }
                else
                {
                    <InputNumber id="title" class="form-control mb-1" @bind-Value="Model.FilmId" placeholder="FilmId"></InputNumber>
                    <InputNumber id="title" class="form-control mb-1" @bind-Value="Model.GenreId" placeholder="GenreId"></InputNumber>
                }
            </div>
            <ValidationMessage For="@(() => Model.FilmId)" />

            <div>
                <button type="submit" class="btn btn-@(Page.Equals(PageType.Delete)? "danger" : "primary") rounded-0 mb-1">@Page FilmGenre</button>
            </div>
        </EditForm>
    </form>
</div>
@code {
    [Parameter] public FilmGenreDTO Model { get; set; } = new();
    [Parameter] public string Page { get; set; } = string.Empty;
    [Parameter] public EventCallback<string> OnChange { get; set; }
    //List<FilmDTO> Films = new();
    //List<GenreDTO> Genres = new();

    private async Task OnFormSubmit()
    {
        try
        {
            if (Page == PageType.Create)
                await AdminService.CreateAsync<FilmGenreDTO>("filmgenres", Model);

            else if (Page == PageType.Delete)
                await AdminService.DeleteAsync<FilmGenreDTO>($"filmgenres?id={Model.FilmId}&id={Model.GenreId}");

            await OnChange.InvokeAsync("");
        }
        catch
        {
            await OnChange.InvokeAsync("Couldn't create/edit/delete the course.");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        //Films = await AdminService.GetAsync<FilmDTO>($"films");
        //Genres = await AdminService.GetAsync<GenreDTO>($"genres");
    }
}
