@using VOD.Common.DTOs;
<table class="table">
    <thead>
        <tr>
            <th scope="col">FilmID</th>
            <th scope="col">GenreID</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@(item.FilmId)</th>
                <td>@(item.GenreId)</td>
                <td>
                    <button type="button" class="btn btn-outline-primary rounded-0 me-1" @onclick="@( async () => await OnClick.InvokeAsync(
                        new ClickRefModel<FilmGenreDTO>(PageType.Edit, item)))">
                        Edit
                    </button>

                    <button type="button" class="btn btn-outline-danger rounded-0 me-1" @onclick="@( async () => await OnClick.InvokeAsync(
                        new ClickRefModel<FilmGenreDTO>(PageType.Delete, item)))">
                        Delete
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter] public List<FilmGenreDTO> Model { get; set; }
    [Parameter] public EventCallback<ClickRefModel<FilmGenreDTO>> OnClick { get; set; }
}
